body {
    /* background-color: rgb(247, 247, 247); */
}
.text-small {
    font-size: small;
}
.page-content {
    min-height: 300px;
}
#loading {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    display: none;
    text-align: center;
    padding-top: 22%;
}
#header .left-side {
    /* style="background-image: url({{ asset('images/wexir-header-background.png') }})" */
}

.select2-container--default .select2-selection--single {
    height: 40px !important;
    padding-top: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}

a, a:hover {
    text-decoration: none;
}
.btn-custom-primary {
    background-color: #e09426;
    color: white;
}
.btn-custom-outline-primary {
    border: 1px solid #e09426;
    color: #e09426;
}
.text-custom-primary {
    color: #e09426;
}


#small-dialog .mfp-close,
#small-dialog-1 .mfp-close,
#small-dialog-2 .mfp-close,
#small-dialog-3 .mfp-close,
#small-dialog-4 .mfp-close,
#sign-in-dialog, .mfp-close,
#add-category-popup, .mfp-close,
.custom-popup, .mfp-close,
.mfp-close:hover {
	color: #fff;
}


/* Popup close button*/
#account-login-popup .mfp-close,
#add-category-popup .mfp-close,
.custom-popup .mfp-close {
	color: #666;
	background-color: #e4e4e4;
	border-radius: 4px;
	top: 10px;
	right: 20px;
    width: 40px;
    height: 40px;
}

#account-login-popup .mfp-close:hover,
#add-category-popup .mfp-close:hover,
.custom-popup .mfp-close:hover
{
	color: #fff;
	background-color: #66676b;
}

/* Popup */
#account-login-popup,
.custom-popup,
#add-category-popup {
	background: #fff;
	/* padding: 40px; */
	padding-top: 0;
	text-align: left;
	max-width: 610px;
	margin: 40px auto;
	position: relative;
	box-sizing:border-box;
	border-radius: 4px;
	max-width: 550px;
}

#account-login-popup span.line {padding-top: 0;}

.account-type input.account-type-radio ~ label:hover {
    background-color: transparent;
    color: #e09426;
    border: 1px solid #e09426;
}
.account-type input.account-type-radio:checked ~ label {
    background-color: #e09426;
}
.account-type input.account-type-radio:checked ~ label:hover {
    color: #FFF;
}

.account-verify-container {
    padding-top: 70px;
    padding-bottom: 100px;
}
.create-contest-header, .create-contest-header:before, .create-offer-header, .create-offer-header:before {
    background-image: url(../images/create-contest-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.create-contest-header:before {
    /* display: none; */
    /* content: none; */
}
.dropzone {
    border: 1px dashed #e09426 !important;
}



.single-page-header.freelancer-header .header-image {
    /* border-radius: 0; */
}
.single-page-header.freelancer-header .header-image img {
    /* border-radius: 50%; */
}
.profile-top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-top-right .btn {
    font-size: small;
}
.profile-right .profile-overview {
    margin-bottom: 0;
}
.profile-right .profile-overview .overview-item {
    display: flex;
    border-right: 0;
}
.profile-right .profile-overview .overview-item strong {
    flex: 1;
}
.profile-right .profile-overview .overview-item small {
    flex: 3;
}
.profile-right .indicator strong {
    color: #e09426;
    margin-top: 0px;
}
.profile-overview .overview-item:first-child strong, .profile-overview .overview-item:first-child small {
    color: #e09426;
}
.each-active-offer {
    font-size: small;
}
.each-active-offer-head {
    background-color: #f0f0f0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.each-active-offer-head-price {
    background-color: #e09426;
    height: 100%;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.each-active-offer-head-title {
    border-right: 1px solid #d0d0d0;
}
.each-active-offer-body {
    display: none;
    background-color: white;
}
.each-active-offer-body p {
    font-size: small;
}
.each-active-offer:first-child .each-active-offer-body {
    display: block;
}
/* .each-active-offer.active .each-active-offer-body {
    display: block;
} */
.single-page-header {
    border-bottom: 1px solid #f0f0f0;
}
.each-active-offer-body-right {
    display: flex;
    align-items: center;
}
.each-active-offer-body-right .btn {
    font-size: x-small;
    text-transform: uppercase;
}
.dropdown-toggle::after {
    display: none;
}
.freelancer-overview .freelancer-avatar {
    display: flex;
    justify-content: center;
}
.listing-user-avatar img, .freelancer-overview .freelancer-avatar img {
    height: 60px;
    object-fit: cover;
    width: auto;
}
.compact-list-layout {
    box-shadow: none;
    background-color: transparent;
}
.job-listing {
    box-shadow: 0 2px 12px rgba(0,0,0,0.12) !important;
    background-color: white;
    margin-bottom: 20px !important;
}
.contest-user-card img {
    max-height: 100px;
    width: auto;
    object-fit: cover;
}
.contest-user-card-avatar {
    display: flex;
    justify-content: center;
}
.contest-submission-card:hover {
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.15) !important;
}
.contest-submission-card {
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0,0,0,0.12) !important;
    border-radius: 5px;
    margin-bottom: 20px;
}
.contest-submission-card-thumbnails img {
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.context-image-container {
    background-color: #f0f0f0;
    /* height: 100%; */
}
.context-image-container img {
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
    /* object-position: 0 30%; */
    max-height: 170px;
    width: 150px;
}
.contest-row-card {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, .05);
    border-radius: 5px;
    transition: .3s all ease;
    border: 1px solid #eee;
}
.contest-row-card:hover {
    box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, .1);
}
.contest-info-container {
    padding: 15px 15px;
    flex: 1;
}
.contest-row-card-title {
    font-size: 20px;
    /* font-weight: bold; */
    color: #444;
    margin-bottom: 5px;
}
.contest-row-card-right {
    width: 200px;
    padding: 20px;
    padding-bottom: 10px;
    border-left: 1px solid #f0f0f0;
}
.contest-row-card-description {
    font-size: small;
    margin-bottom: 20px;
    color: #444;
}
.contest-row-card-right-each {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.contest-row-card-right-each span {
    /* margin-top: 3.5px; */
    /* font-weight: bold; */
    font-size: 13px;
}
.contest-row-card-right-each i {
    color: #e09426;
    font-size: 20px;
    margin-right: 10px;
}
.context-row-card-tag-each {
    border: 2px solid #f0f0f0;
    padding: 0px 10px;
    line-height: 18px;
    font-size: x-small;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.contests-banner {
    background-image: url(../images/banners/graphic-design.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.contests-banner-inner {
    padding: 70px 0 70px;
    background: rgba(0, 0, 0, .7);
    color: white !important;
}

.intro-banner-search-form {
    margin-top: 70px;
}

@media (max-width: 768px) {
    .intro-banner-search-form {
        margin-top: 0px;
    }

    .intro-search-field:first-child {
        margin-top: 20px !important;
    }

    .contests-banner {
        margin-bottom: 10px;
    }

    .contests-banner-inner {
        padding: 50px 0 50px;
    }

    .contests-banner-inner h1 {
        font-size: 30px;
        text-align: center;
    }

    .intro-search-button button {
        width: 100%;
    }
}

@media(max-width: 992px) {
    #logo img {
        max-height: 60px;
    }
    .intro-banner-search-form .intro-search-field.with-label {
        margin-top: 10px;
    }
    .intro-banner-search-form .intro-search-field.with-label:first-child {
        margin-top: 80px;
    }
    .context-image-container img {
        width: 100%;
    }
    .contest-row-card-right {
        padding-top: 5px;
    }
}

@media(min-width: 992px) {
    .create-contest-btn {
        background-color: #e09426;
        color: white !important;
        padding: 5px 10px;
        border-radius: 20px;
        margin-top: 3px;
        font-size: small;
    }
    .home-nav-header {
        display: flex;
        align-items: center;
    }
}
